Assets/\.DS_Store

Assets/MayaSourceArt/\.svn/

*.info

Library/metadata/*

CyberCIEGE-port-to-Unity3d\.sln

Library/shadercompiler-UnityShaderCompiler0\.log

Assets/\.svn/
.vs/CyberCIEGE-port-to-Unity3d/v15/Server/sqlite3/db.lock
Library/ShaderCache/
Library/metadata/